#jumbotron{
    height:500px;
    background-color: inherit;
    background-image: url("../../assets/monochrome-photo-of-railway-3370337\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}